@import '../../scss/theme';

.form-control {
  display: block;
  font-size: 16px;
  text-align: left;

  > label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 17px;
    color: $soft-gray;
  }

  > input {
    min-height: 51px;
  }

  > input,
  > textarea {
    width: 100%;
    padding: 16px;
    background: $onix-gray;
    border: 0;
    border-radius: 5px;
    color: $gray;
  }
}
