@import '../../scss/theme';

.form-control {
  display: block;
  font-size: 16px;

  > label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 17px;
    color: $soft-gray;
  }

  > input,
  > textarea {
    width: 100%;
    padding: 16px;
    background: $onix-gray;
    border: 1px solid $onix-gray;
    box-sizing: border-box;
    border-radius: 5px;
    color: $gray;
  }
}
