// @import '../../scss/colors-rewrite';

.breadcrumb-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  line-height: 1;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
  line-height: 1;
}

.breadcrumb:not(:last-child) {
  // color: $soft-gray;
}

.breadcrumb::before {
  content: '';
  display: inline-block;
  width: 0.67em;
  height: 0.67em;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.145 9.648a.984.984 0 0 0 1.392 1.392l4.175-4.175A.983.983 0 0 0 14.986 6a.983.983 0 0 0-.274-.865L10.537.96a.984.984 0 0 0-1.392 1.392l2.664 2.664H.984a.984.984 0 1 0 0 1.968H11.81L9.145 9.648Z' fill='%23393B3F'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
