$black: #101011;
$dark-gray: #1a1b1c;
$onix-gray: #393b3f;
$gray: #999ca0;
$white: #fff;
$soft-gray: #bec2c9;

$brand-blue: #4cc9f0;
$brand-purple: #5a27e7;
$brand-yellow: #fbff12;

$theme-colors: (
  'black': $black,
  'dark-gray': $dark-gray,
  'onix-gray': $onix-gray,
  'gray': $gray,
  'white': $white,
  'soft-gray': $soft-gray,
  'brand-blue': $brand-blue,
  'brand-purple': $brand-purple,
  'brand-yellow': $brand-yellow,
);
